.App {
  text-align: -webkit-center;
}

:root {
  --primary-color: #3c6e91b5;
  --secondary-color: #87ceeb2b;
  --error-color: #ff4545;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: var(--primary-color);
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background: var(--secondary-color);
  width: 100%;
  text-align: center;
}

.defaultButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  cursor: pointer;
  border-radius: var(--border-radius-l);

}

.inputField {
  padding: 7px;
  margin: 20px;
  width: 300px;
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-l);
}

.validateErrorMsg {
  display: block;
  color: var(--error-color);
  margin-top: -20px;
  margin-left: -190px;
}

.defaultList {
  margin-top: 50px;
}

.defaultList ul {
  margin: 0;
}

.defaultList ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid var(--primary-color);
  padding: 5px;
}

.filterField {
  width: 400px;
  margin: 20px;
  height: 38px;
  /* padding-left: 30px; */
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-l);

}

.navbarLogo {
  height: 45px;
  width: 60px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.nav-right {
  text-align: right;
}