.App {
  text-align: -webkit-center;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: #61dafb;
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background: skyblue;
  width: 100%;
  text-align: center;
}

.defaultButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;

}

.inputField {
  padding: 7px;
  margin: 20px;
  width: 300px;
  display: block;
  border: 1px solid skyblue;
}

.validateErrorMsg {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: -200px;
}

.defaultList {
  margin-top: 50px;
}

.defaultList ul {
  margin: 0;
}

.defaultList ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.filterField {
  width: 400px;
  margin: 20px;
  height: 38px;
  /* padding-left: 30px; */
  border: 1px solid skyblue;

}